/* .footer_container {
    height: 144px;
    width: 100%;
    border-top: 1px solid #e4e7ec;
} */

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 109.6deg;
    inherits: false;
}

.static_footer_container {
    height: 75vh;
    overflow: hidden;
    /* background-image: linear-gradient( 126.6deg,  rgba(44,115,210,1) 3.4%, rgba(251,234,255,1) 127.9% ); */
    /* background-image: radial-gradient(circle 150rem at 8.6% 27.9%, rgba(62, 147, 252, 0.57) 12.9%, rgba(239, 183, 192, 0.44) 91.2%); */
    /* background-image: linear-gradient(89.5deg, rgba(131, 204, 255, 1) 0.4%, rgba(66, 144, 251, 1) 100.3%); */
    /* background-image: linear-gradient(58.2deg, rgba(40, 91, 212, 0.73) -3%, rgba(171, 53, 163, 0.45) 49.3%, rgba(255, 204, 112, 0.37) 97.7%); */
    /* background-image: radial-gradient(circle 150rem at -2.9% 12.9%, rgba(247, 234, 163, 1) 0%, rgba(236, 180, 238, 0.56) 46.4%, rgba(163, 203, 247, 1) 100.7%); */
    /* background-image: linear-gradient(109.6deg, rgba(112, 246, 255, 0.33) 11.2%, rgba(221, 108, 241, 0.26) 42%, rgba(229, 106, 253, 0.71) 71.5%, rgba(123, 183, 253, 1) 100.2%); */
    background-image: linear-gradient(var(--gradient-angle),
            rgba(112, 246, 255, 0.33) 11.2%,
            rgba(221, 108, 241, 0.26) 42%,
            rgba(229, 106, 253, 0.71) 71.5%,
            rgba(123, 183, 253, 1) 100.2%);
    animation: rotateGradient 75s linear infinite;
}

@keyframes rotateGradient {
    to {
        --gradient-angle: 469.6deg;
        /* 360deg + starting angle, for a full loop */
    }
}

.static_footer {
    height: 100%;
    width: 100%;
    max-width: 1512px;
    padding: 0 2.5rem;
    margin: 0 auto;
    position: relative;
}

.gradient_video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.footer_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

}

.footer_title {
    padding: 3rem 0.75rem;
    border-bottom: 1px solid #34405410;
}

.footer_contact p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    color: #344054;
    letter-spacing: 0.2px;
}


.footer_title h1 {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -0.3rem;
    line-height: 1;
    color: #344054;
    width: 100%;
}


.footer_socials_container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2.5rem;
    margin-top: 1.5rem;
}

.demo {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    padding-left: 0.75rem;
}


.demo p:last-child {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #344054;
}

.demo p {
    letter-spacing: 0.2px;
}



.social_links {
    display: flex;
    gap: 1.5rem;
}

.footer_outro {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.footer_outro img {
    /* position: absolute;
    transform-origin: bottom right;
    bottom: 0;
    right: 0;
    margin: 0 -5rem -1rem 0; */
    object-fit: contain;
    height: 100%;
}

/* .footer_wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200vh;
    overflow-x: hidden;
    margin-top: -15rem;
}

.bg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.footer_content {
    height: 80vh;
    width: 100%;
    background: #0000000e;
    overflow: visible;
}

.parallax_container {
    height: 20vh;
    width: 100%;
    background: red;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.parallaxImage2 {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/parallax_2.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: visible;
    z-index: 1;
}

.parallaxImage1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('./assets/parallax_1.png');
    height: 40vh;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: visible;
    z-index: 2;
}



.fg-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
} */

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    max-width: 1512px;
    margin: 0 auto;
    padding: 0 2.5rem;
}

.outro h1 {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 300;
    width: 360px;
    letter-spacing: 0.2px;
    color: #344054;
}

.outro p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #98a2b3;
    letter-spacing: 0.2px;
    width: 100%;
}

.copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    color: #98a2b3;
    display: none;
}


.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 360px;
    justify-content: flex-end;
}

.socials a {
    color: #344054;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    cursor: pointer;
}