.container_project {
    max-width: 1512px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 2.5rem;
    position: relative;
    overflow-x: hidden;
}


.marquee-item {
    position: absolute;
    height: 36px;
    width: 160px;
    background: url("./assets/plane.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 4%;
    transform: translateY(-50%);
    animation: slide-across 24s linear 5s both;
    transform: scaleX(-1);
}

.marquee-item-shadow {
    position: absolute;
    height: 28px;
    width: 160px;
    background: url("./assets/plane_shadow.webp");
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 18%;
    transform: translateY(-50%);
    transform: scaleX(-1);
    animation: slide-across-shadow 24s linear 5.5s both;
}

@keyframes slide-across {
    from {
        left: -30%;
    }

    to {
        left: 100%;
        /* clears its own width past the left edge */
    }
}

@keyframes slide-across-shadow {
    from {
        left: -30%;
    }

    to {
        left: 100%;
        /* clears its own width past the left edge */
    }
}

.blocks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 3rem;
}

.container_project_intro,
.container_tldr {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2.5rem;
    overflow: hidden;
}

.container_project_intro .project_intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1 / span 7;
    text-decoration: none;
    color: inherit;
    margin-left: 0.75rem;
}

.container_project_intro .project_intro h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
    color: #344054;
    letter-spacing: -0.6px;
}

.container_project_intro .project_intro p {
    font-size: 1.15rem;
    line-height: 2rem;
    font-weight: 300;
    color: #667085;
    letter-spacing: 0.2px;
    width: 100%;
}

.container_project_thumbnail {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2.5rem;
    overflow: hidden;
    margin-top: -2rem;
}


.tldr {
    grid-column: 1 / span 9;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-left: 0.75rem;
}

.tldr p {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    color: #344054;
}

.metric_card h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1;
    color: #3E67CE;
    letter-spacing: -0.6px;
}

.metric_card p {
    font-size: 1.15rem;
    line-height: 2rem;
    font-weight: 300;
    color: #667085;
    width: 100%;
    letter-spacing: 0.2px;
}

.container_metrics {
    /* background: yellowgreen; */
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 3rem;
}

.metrics_row {
    /* background: yellow; */
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.metric_card {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    gap: 0.75rem;
}

.container_project_slideshow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2.5rem;
}


.container_my_role,
.container_confidentiality {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2.5rem;
}

.my_role,
.confidentiality {
    grid-column: 4 / span 8;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: 0 0.75rem;
}

.container_my_role .my_role p,
.container_confidentiality .confidentiality p {
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 300;
    color: #667085;
    letter-spacing: 0.2px;
    width: 100%;
}